.fadeStyles {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fadeIn {
    opacity: 1;
}

.progressBar {
    position: fixed;
    z-index: 1000;
    top: 5.4em;
    left: 0;
    right: 0;
    height: 10px;
    background: red;
    transform-origin: 0;
}

